# compiled output
/node_modules
/nestjs-remix/cli/
/nestjs-remix/core/
/nestjs-remix/client/
/nestjs-remix/*.d.ts
/nestjs-remix/*.js
/nestjs-remix/*.js.map
/nestjs-remix/node_modules

# lock file
*.lock
*.lockb